# Postfix pgsql map: which domains this server accepts mail for.
# Rendered from POSTFIX_DB_* env by entrypoint.sh into /etc/postfix/sql/.
# Override by mounting a replacement at /etc/postfix-overlay/sql/virtual_domains.cf.
hosts    = ${POSTFIX_DB_HOST}
user     = ${POSTFIX_DB_USER}
password = ${POSTFIX_DB_PASSWORD}
dbname   = ${POSTFIX_DB_NAME}
query    = SELECT name FROM domains WHERE name='%s' AND active=true
